<div class="auth-container">

    <h2>Login</h2>

    <form action="/login" method="post">

        <div class="form-control">
            <label for="emailInput">E-mail:</label>
            <input type="email" name="email" id="emailInput" placeholder="Digite o seu e-mail" required>
        </div>

        <div class="form-control">
            <label for="passwordInput">Senha:</label>
            <input type="password" name="password" id="passwordInput" placeholder="Digite a sua senha" required>
        </div>

        <input type="submit" value="Entrar">

        <p>Não tem conta? <a href="/signup">Faça seu cadastro</a></p>

    </form>

</div>

