<div class="tought-form-container">
    <h1>Criando um Pensamento</h1>

    <form action="/toughts/add" method="post">
        <div class="form-control">
            <label for="titleInput">Pensamento:</label>
            <input type="text" name="title" id="titleInput" placeholder="Escreva seu pensamento..." required>
        </div>
        
        <input type="submit" value="Guardar Pensamento">
    </form>
</div>